name: ${PROJECT_NAME}

services:
  db:
    container_name: ${PROJECT_NAME}-db
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "25432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    container_name: ${PROJECT_NAME}-backend
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    ports:
      - "3001:3001"  # 修正
      - "5555:5555"  # 修正
    depends_on:
      - db

  frontend:
    container_name: ${PROJECT_NAME}-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env.local
    ports:
      - "3000:3000"  # 修正
    depends_on:
      - backend

volumes:
  pgdata:
    name: ${PROJECT_NAME}_pgdata